<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        
        <title>注册</title>
        
    </head>
    <body
<script src="js/XMLHttpRequest.js" charset="utf-8" type="text/javascript"></script>
<script type="text/javascript">
function checkname()
{
    var ne=document.getElementById("ne");
    var name=document.getElementById("name").value;
    if(name.length==0)
    {
        ne.innerHTML="用户名不能为空!";
        exit;
    }
    ne.innerHTML="";
    var post_string="name="+document.getElementById("name").value;
    xmlHttp=ajaxFunction();
    xmlHttp.open("post","index.php?app=member&act=checkname",true);
    xmlHttp.onreadystatechange=function()
    {
        if(xmlHttp.readyState==4)
        {
            if(xmlHttp.status==200)
            {
                ne.innerHTML=xmlHttp.responseText;
            }
        }
    }
    //ajax form post递交必须的，规定Content-Type(默认text/plain)格式
    xmlHttp.setRequestHeader("Content-Type","application/x-www-form-urlencoded")
    xmlHttp.send(post_string);

        

}
</script>
        <br/>
        <h1 align="center">注册</h1>
        <hr/>
        <br/>
        <form id="loginform" action="" method="post">
            <div align="center">
                <table>
                    <tr>
                        <td>用户名：</td>
                        <td>
                            <input type="text" id="name" name="user_name" onblur="checkname()" value="" />
                        </td>
                        <td><div id="ne"></div></td>
                    </tr>
                    <tr>
                        <td>密码：</td>
                        <td>
                            <input type="password" name="password" />
                        </td>

                    </tr>
                    <tr><td><br/></td></tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit" value="登录" />
                            <a href="#">忘记密码？</a>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    </body>
</html>
